{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Propiedades en Venta - InmoWeb{% endblock %}

{% block content %}
<h2 class="titulo">Propiedades disponibles</h2>


<!--  FORMULARIO DE FILTRO -->
 <form method="GET" class="filtros" style="margin-bottom: 20px;">
    
    
    {% if errores.ciudad %}
    <div class="error-text">
        {{ errores.ciudad }}
    </div>
    {% endif %}
    <input type="text" name="ciudad" value="{{ ciudad }}" placeholder="Ciudad" class="{% if errores.ciudad %}is-invalid{% endif %}" style="margin-bottom:10px;"  >
    

    
    <select name="tipo" class="form-select" style="margin-bottom:10px;">
        <option value="">Todos los tipos</option>
        <option value="Casa" {% if tipo == "Casa" %}selected{% endif %}>Casa</option>
        <option value="Apartamento" {% if tipo == "Apartamento" %}selected{% endif %}>Apartamento</option>
        <option value="Lote" {% if tipo == "Lote" %}selected{% endif %}>Lote</option>
    </select>
    
    {% if errores.precio %}
    <small class="error-text">{{ errores.precio }}</small>
    {% endif %}


    
    {% if errores.precio_min %}
    <div class="error-text">
        {{ errores.precio_min }}
    </div>
    {% endif %}
    <input type="number" name="precio_min" value="{{ precio_min }}" placeholder="Precio mínimo" class="{% if errores.precio_min %}is-invalid{% endif %}" style="margin-bottom:10px;">
    
    
    
    {% if errores.precio_max %}
    <div class="error-text">
        {{ errores.precio_max }}
    </div>
    {% endif %}
    <input type="number" name="precio_max" value="{{ precio_max }}" placeholder="Precio máximo" class="{% if errores.precio_max %}is-invalid{% endif %}" style="margin-bottom:10px;">
    
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<!-- 🔍 RESULTADOS -->
{% if propiedades %}
    <div class="grid">
        {% for p in propiedades %}
        <div class="card">
            <img src="{{ p.foto_propiedad.url }}" alt="{{ p.titulo }}">
            <div class="info">
                <h3>{{ p.titulo }}</h3>
                <p>{{ p.descripcion|truncatewords:15 }}</p>{# truncatewords 15 palabras en la descripcion#}
                <p><strong>Precio:</strong> ${{ p.precio|intcomma}}</p>
                <p><strong>Ciudad:</strong> {{ p.ciudad }}</p>
                {% if user.is_authenticated and user.is_staff %}{#user.is_authenticated → ¿está logueado?
                    user.is_staff         → ¿es admin del sistema?
                    user.is_superuser     → ¿es super admin?#}
                    <a href="{% url 'editar_propiedad' p.id %}" class="btn btn-warning">
                        ✏️ Editar
                    </a>

                    <a href="{% url 'eliminar_propiedad' p.id %}" class="btn btn-danger">
                        ❌ Eliminar
                    </a>
                {% endif %}

                <a href="{% url 'detalle_propiedad' p.id %}" class="btn btn-contacto">
                    🔍 Ver Detalles
                </a>

            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No hay propiedades registradas todavía.</p>
{% endif %}
{% endblock %}


